name: Redeploy Infrastructure

on:
  workflow_call:

permissions:
  id-token: write
  contents: read

jobs:
  deploy_infra:
    name: Redeploy Infrastructure
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          aws-region: us-east-1

      - name: Deploy Infra
        working-directory: infrastructure
        run: |
          aws cdk deploy
