name: Update Bucket

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  cdk-gate:
    name: CDK Diff
    runs-on: ubuntu-latest
    outputs:
      needs-deploy: ${{ steps.status.outputs.deploy }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check CDK Changes
        id: changed-files
        uses: tj-actions/changed-files@v44
        with: 
          files: infrastructure/**
      
      - name: Update Repository Status
        id: status
        run: |
          if [ "${{ steps.changed-files.outputs.any_changed }}" = "true" ]; then
            echo "deploy=true" >> "$GITHUB_OUTPUT"
          else
            echo "deploy=false" >> "$GITHUB_OUTPUT"
          fi

  sync-bucket:
    needs: cdk-gate
    if: needs.cdk-gate.outputs.needs-deploy == 'false'
    name: Sync bucket
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          aws-region: us-east-1

      - name: Synch Bucket
        run: |
          aws s3 sync ./front-end s3://${{ vars.AWS_BUCKET_NAME }} --delete

  deploy:
    needs: cdk-gate
    if: needs.cdk-gate.outputs.needs-deploy == 'true'
    uses: ./.github/workflows/deploy-infra.yml
    secrets: inherit
