name: Infrastructure Test

on: workflow_call

jobs:
  Infrastracture:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: infrastructure
        run: npm ci

      - name: Check formatting 
        working-directory: infrastructure
        run: npm run fmt-check
      
      - name: Snapshot Test 
        working-directory: infrastructure
        run: npm run test





